<div class="header">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3 class="text-muted">html-boilerplate</h3>
      <ul class="nav nav-pills float-right">
        <li class="nav-item"><a class="nav-link {{active-route 'index.html'}}" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link {{active-route 'about.html'}}" href="/about.html">About</a></li>
        <li class="nav-item"><a class="nav-link {{active-route 'contact.html'}}" href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
