<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HTML Boilerplate</title>
  </head>
  <body>
    <div id="app">
      {{> partials/header }}

      <div class="container">
        {{> content }}
      </div>

      {{> partials/footer }}
    </div>
  </body>
</html>
